.block {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    width: 20%;
    max-height: 150px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.marg-bottom {
    margin: 20px;
}

.block :not(:last-child) {
    margin: 20px;
}
.number {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 24px;
}