.centered{
    text-align: center;
}

.addMargin {
    margin: 48px 0;
}

.searchBar {
    border-radius: 16px;
    padding: 12px 32px;
    outline: none;
    width: 32%;
}

.inputContainer {
    position: relative;
}

.iconContainer{
    position: absolute;
    left: 32%;
    top: 20%;
}